<h1>Your asked <em><%= @question %></em></h1>

<img src="http://www.redkid.net/generator/8ball/newsign.php?line1=<%= @line1 %>&line2=<%= @line2 %>&line3=<%= @line3 %>" alt="Magic Ball Generated Image">

<p>The magic ball answers ... <strong><%= @result %></strong></p>