'This is a secret place that only <%=session[:identity]%> has access to!'

<p>These are some variables that used in the project::    
      <ul>
          <li>"DEBUG :book_name << <%=:book_name %>"</li>
          <li>"DEBUG @search_book << <%=@search_book %>"</li>
          <li>"DEBUG @book_image << <%=@book_image %>"</li>
          <li>"DEBUG @book_url << <%=@book_url %>"</li>
      </ul>
</p>